.interact-button {
  background-color: #477DCA;
  border-radius: 3px;

  display: inline-block;
  margin: 0 0 20px;
  padding: 0.4em 1em;

  font-size: 1.5em;
  color: white;
  font-weight: 700;
}

.interact-button:hover,
.interact-button:focus {
  text-decoration: none;
}
